<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/josh.png">
    <img alt="Vue logo" src="./assets/ceph.png">
    <Calculator msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import Calculator from './components/Calculator.vue'

export default {
  name: 'app',
  components: {
    Calculator
  }
}
</script>

<style>
#app {
  font-family: 'Times New Roman';
  background: hsl(255, 48%, 49%);
  background: linear-gradient(15deg,hsl(255, 48%, 39%) 0%, hsl(255, 48%, 49%) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #0000FF;
  margin-top: 60px;
}
</style>
